* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(158, 252, 158);
}

.container {
    border: solid 1px rgb(215, 148, 246); 
    border-radius: 20px;
    color: white; 
    background-color: rgb(223, 175, 245); 
    padding: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.container:hover {
    background-color: rgb(208, 110, 253); 
}
